<div class="font-ubuntu max-md:p-2">
  <h1
    class="text-4xl max-sm:text-3xl max-md:text-4xl font-bold text-denim-1 font-ubuntu mt-5 max-sm:mt-4 max-md:mt-2"
  >
    Finishing up
  </h1>
  <p class="text-xl mt-5 max-md:mt-2 max-md:text-lg text-gray-1">
    Double-check everything looks OK before confirming.
  </p>

  <div class="w-full mt-5 border-3 bg-gray-3 rounded-lg">
    <div
      class="max-md:w-full flex justify-between items-center h-fit p-4"
      *ngIf="selectedPlan"
    >
      <div>
        <h2
          class="text-xl max-md:text-lg font-semibold text-denim-1 mb-1 max-md:mb-0"
        >
          {{ selectedPlan.name }} ({{
            selectedPlan.isMonthly ? "Monthly" : "Yearly"
          }})
        </h2>
        <button class="text-gray-1">change</button>
      </div>
      <p>
        $
        {{
          selectedPlan.isMonthly
            ? selectedPlan.pricePerMonth + "/mo"
            : selectedPlan.pricePerYear + "/yr"
        }}
      </p>
    </div>
    <div class="w-[95%] mx-auto h-[1px] bg-gray-1"></div>

    <div
      class="max-md:w-full flex justify-between items-center h-fit p-4"
      *ngFor="let addOn of selectedAddOns"
    >
      <div>
        <p
          class="max-md:text-lg font-light text-gray-1 mb-1 max-md:mb-0"
        >
          {{ addOn.type }}
        </p>
      </div>
      <p>
        {{ selectedPlan?.isMonthly ? addOn.pricePerMonth : addOn.pricePerYear }}
      </p>
    </div>
  </div>

  <div class="max-md:w-full flex justify-between items-center h-fit p-4 mt-5">
    <div>
      <h2
        class="text-xl max-md:text-lg font-semibold text-denim-1 mb-1 max-md:mb-0"
      >
        Total ({{ selectedPlan?.isMonthly ? "per month" : "per year" }})
      </h2>
    </div>
    <p>${{ totalPrice }} {{ selectedPlan?.isMonthly ? "/mo" : "/yr" }}</p>
  </div>
</div>
