<div class="font-ubuntu max-md:p-2">
  <h1
    class="text-4xl max-sm:text-3xl max-md:text-4xl font-bold text-denim-1 font-ubuntu mt-5 max-sm:mt-4 max-md:mt-2"
  >
    Finishing up
  </h1>
  <p class="text-xl mt-5 max-md:mt-2 max-md:text-lg text-gray-1">
    Double-check everything looks OK before confirming.
  </p>

  <div class="w-full mt-5 border-3 bg-gray-2 rounded-lg">
    <div class="max-md:w-full flex justify-between items-center h-fit p-4">
      <div class="">
        <h2
          class="text-xl max-md:text-lg font-semibold text-denim-1 mb-1 max-md:mb-0"
        >
          <h1 class="text-denim-1 text-xl">Arcade (Monthly)</h1>
        </h2>
        <button class="text-gray-1">change</button>
      </div>
      <p>$9/mo</p>
    </div>

    <div class="max-md:w-full flex justify-between items-center h-fit p-4">
      <div class="">
        <h2
          class="text-xl max-md:text-lg font-semibold text-denim-1 mb-1 max-md:mb-0"
        >
          <h1 class="text-denim-1 text-xl">Arcade (Monthly)</h1>
        </h2>
        <button class="text-gray-1">change</button>
      </div>
      <p>$9/mo</p>
    </div>
    <div class="max-md:w-full flex justify-between items-center h-fit p-4">
      <div class="">
        <h2
          class="text-xl max-md:text-lg font-semibold text-denim-1 mb-1 max-md:mb-0"
        >
          <h1 class="text-denim-1 text-xl">Arcade (Monthly)</h1>
        </h2>
        <button class="text-gray-1">change</button>
      </div>
      <p>$9/mo</p>
    </div>
  </div>
</div>
