<div class="w-full font-ubuntu p-3 h-fit flex justify-center items-center">
  <div class="w-[90%] flex flex-col items-center">
    <div class="w-full flex flex-col items-center">
      <div>
        <img src="/assets/images/icon-thank-you.svg" alt="" />
      </div>
      <h1 class="text-denim-1 text-4xl font-semibold mt-8">Thank you!</h1>
    </div>
    <p class="mt-8 text-gray-1">
      Thanks for confirming your subscription! We hope you have fun using our
      platform. If you ever need support, please feel free to email us at
      support&#64;loremgaming.com.
    </p>
  </div>
</div>
