<div class="font-ubuntu">
  <h1 class="text-5xl font-bold text-denim-1 font-ubuntu mt-5">
    Personal info
  </h1>
  <p class="text-2xl mt-10 text-gray-1">
    Please provide your name, email address, and phone number.
  </p>
  <form class="mt-10" action="">
    @for (formField of form1fields; track $index) {
    <div class="mb-5">
      <label class="block mb-3 text-denim-1" for="firstName">
        {{ formField.label }}
      </label>
      <input
        class="outline-none border-2 w-full px-2 py-4 rounded-md placeholder:text-lg placeholder:font-semibold text-xl"
        type="{{ formField.type }}"
        id="{{ formField.id }}"
        name="{{ formField.name }}"
        [(ngModel)]="formField.value"
        placeholder="{{ formField.placeholder }}"
      />
    </div>
    }
  </form>
</div>
