<div class="w-[95%] font-ubuntu flex flex-col justify-between h-full">
  <div class="w-full">
    <div>
      <h1 class="text-5xl font-bold text-denim-1 font-ubuntu mt-5">
        Select your plan
      </h1>
      <p class="text-2xl mt-7 text-gray-1">
        You have the option of monthly or yearly billing.
      </p>
    </div>
    <div class="w-[85%]">
      <div class="flex justify-between mt-10 w-full">
        @for (selectPlan of selectPlans; track $index) {
        <div
          class="h-48 w-40 border rounded-lg p-5 flex flex-col justify-between"
        >
          <div class="items-center h-24 w-24">
            <img [src]="selectPlan.imageUrl" alt="" />
          </div>
          <div>
            <h2 class="text-xl font-semibold text-denim-1 mb-1">
              {{ selectPlan.name }}
            </h2>
            <p class="text-gray-1">{{ selectPlan.pricePerMonth }}</p>
          </div>
        </div>
        }
      </div>
      <div
        class="h-12 w-full border mt-10 bg-gray-2 rounded-lg flex justify-center items-center gap-4"
      >
        <h1>Monthly</h1>
        <div
          class="w-14 h-7 bg-denim-1 p-1 flex items-center rounded-full cursor-pointer"
        >
          <div class="w-5 h-5 bg-white rounded-full"></div>
        </div>
        <h1>Yearly</h1>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center h-12 w-[85%]">
    <button class="px-5 py-3 text-white rounded-lg">
      <span class="font-semibold text-xl text-gray-1">Go Back</span>
    </button>
    <button class="px-5 py-3 bg-denim-1 text-white rounded-lg">
      <span class="font-semibold text-xl">Next Step</span>
    </button>
  </div>
</div>
